body {
  font-family: sans-serif;
  text-align: center;
  line-height: 1.2;
}

.container {
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  margin: 5%;
  align-content: space-between;
}

.button {
  align-items: center;
  padding: 20px 40px;
  border: radius 10px;
  cursor: pointer;
  border-radius: 25px;
  font-size: larger;
  min-inline-size: 275px;
}

.button.dark-button--hover:hover {background-color: red}
.button.light-button--hover:hover {background-color: cyan}

.button:active {
  transform: translateY(4px);
}





/*Heading modifiers*/
.bold--heading {      
  font-weight: darker;
  font-size: larger;
}

.container__card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 2px 15px;
  border: radius 2px;
  border-radius: 25px ;
  align-self: stretch;
}

ul.card__list {
  list-style-type: none;
  margin-inline-end: 5px;
  width: 200px;
}

li.list__item {
  text-align:left;
}


/* Modifier to idenfity threatening Dark Force items */
li.list__item--active a:hover {
  font-weight: bolder;
}

/*Dark and light card skins*/
.card--dark-theme {
  background-color: rgb(17, 18, 18);
  color: whitesmoke;
  font-family: 'Courier New', Courier, monospace;
}

.card--light-theme {
  background-color: lightcyan;
  color: darkslategrey; 
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}

img {
  max-width: 200px;
  display: block;
  margin: auto;
}  



